@font-face {
    font-family: "sw-icon-font";
    src: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2079/sw-icon-font.eot?v=1503410974000");
    src: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2079/sw-icon-font.eot?v=1503410974000#iefix") format("embedded-opentype"), 
        url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2079/sw-icon-font.woff?v=1503410972000") format("woff"), 
        url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2079/sw-icon-font.ttf?v=1503411019000") format("truetype"), 
        url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2079/sw-icon-font.svg?v=1503410971000") format("svg");
    font-weight: normal;
    font-style: normal
}
/* PB EDITOR */
/* make checkbox visible */
.pb #EN__RootElement input[type=checkbox] {
	appearance:checkbox !important;
	-moz-appearance:checkbox !important;
	-webkit-appearance:checkbox !important;
}
/* stop checkbox:checked:before from covering whole window */
.pb #EN__RootElement input[type="checkbox"]:checked:before  {
    height: 0;
    width: 0;
    content: "";
}
/* TEMPLATE OVERRIDES */
.pb .box-container {
    margin-left: 0 !important;
}
.pb .uncode-single-media {
    margin: 1em 0;
}
/* NIMBUS FONT TEMPORARY FIXES */
.pb .gp-header span.text-large {
    /*font-size: 84px;*/
}
.pb .en__component--row--2 .en__component--column--2 .en__component--copyblock h2 {
    font-size: 33px;
}  
/* BODY */
body.pb {
    background-color: #eaeaea;
}
/* ROWS */
.pb .en__component--row {
    align-items: flex-start;
    -webkit-align-items: flex-start;
}
.pb .en__component--row {
    background-color: #eaeaea;
}
.pb .en__component--row {
    max-width: 1200px;
    margin: 0 auto;
}
/* COLUMNS */
.pb .en__component--row--2 .en__component--column--1 {
    padding: 36px;
    background-color: #0b5bc1;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pb .en__component--row--2 .en__component--column--2 {
    padding: 54px 36px 54px 36px;
    background-color: #fff;
    margin-top: 36px;
}
@media screen and (min-width: 600px) {
/* left column styling - widths should add up to 100%  */
.pb .en__component--row--2 .en__component--column--1 {
    width: 33%;
}
/* right column styling - widths should add up to 100%  */
.pb .en__component--row--2 .en__component--column--2 {
    width: 67%;
}
/* BLOCKS - LEFT COLUMN */
.pb .en__component--row--2 .en__component--column--1 .en__component--copyblock,
.pb .en__component--row--2 .en__component--column--1 .en__component--formblock label {
    color: #fff;
}    
.pb .en__component--row--2 .en__component--column--1 .en__component--copyblock h2 {
    margin: 0;
    color: #fff;
    margin-bottom: 27px;
}  
.pb .en__component--row--2 .en__component--column--1 .en__component--copyblock hr {
    margin: 0;
    border-color: #fff;
    width: 90px;
    border-top-width: 2px;
}    
/* BLOCKS - RIGHT COLUMN */
.pb .en__component--row--2 .en__component--column--2 .en__component--copyblock,
.pb .en__component--row--2 .en__component--column--2 .en__component--formblock {
    background-color: #fff;
}
.pb .en__component--row--2 .en__component--column--2 .en__component--copyblock h2 {
    margin: 0 0 1em 0;
    color: #303133;
}  
.pb .en__component--row--2 .en__component--column--2 .en__component--copyblock hr {
    margin: 0;
    border-color: #58b006;
    width: 90px;
    border-top-width: 2px;
}
.pb .en__component--row--2 .en__component--column--2 .en__component--copyblock p {
    font-weight: normal;
} 
/* INPUTS */
.pb .en__field__element {
    width: 100%;
}
.pb .en__field__input {
    width: 100%;
    margin: 0;
    padding: 7px 10px 2px 10px;
    font-size: 16px;
    border: 1px solid green;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    color: #fff;
}
/* SELECTS */
.pb .en__field__input--select {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgNTAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIuNiw4YzAtMC4xLDAtMC4yLDAuMS0wLjJsMC41LTAuNWMwLjEtMC4xLDAuMS0wLjEsMC4yLTAuMWMwLjEsMCwwLjIsMCwwLjIsMC4xbDMuNywzLjdsMy43LTMuN2MwLjEtMC4xLDAuMS0wLjEsMC4yLTAuMXMwLjIsMCwwLjIsMC4xTDMyLDcuOEMzMiw3LjksMzIuMSw4LDMyLjEsOGMwLDAuMSwwLDAuMi0wLjEsMC4ybC00LjQsNC40Yy0wLjEsMC4xLTAuMSwwLjEtMC4yLDAuMXMtMC4yLDAtMC4yLTAuMWwtNC40LTQuNEMyMi43LDguMiwyMi42LDguMSwyMi42LDh6Ii8+PC9zdmc+");
    
}
/* CHECKBOXES */
.pb .en__field--opt-in > label {
    display: none;
}
/* LABELS */
.pb .en__field__label {
    font-size: 16px;
    padding-bottom: 0;
}
/* Mandatory asterisk */
.pb .en__field.en__mandatory > label::after {
    content: " *";
    color: #790000;
}
/* BUTTONS */
.pb .en__submit button {
    font-weight: 700 !important;
    font-family: !important;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-width: 1px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    font-size: 12px;
    padding: 13px 31px 13px 31px;
    text-align: center !important;
    vertical-align: middle;
    background-image: none;
    border-radius: 2px;
    outline: none;
    white-space: nowrap;
    -webkit-text-stroke: 0px;
    width: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
}
/* TOGGLE MORE INFO */
.toggle-title {
    margin: 1em 0;
    padding: 18px 0px 18px 0px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-top: 1px solid #4884D1;
    border-bottom: 1px solid #4884D1;
}
.toggle-title:after {
    font-family: "uncodeicon";
    content: "\f105";
    margin-top: 0px;
    font-weight: normal;
    font-size: 15px;
    right: 0;
    margin-right: 0;
    position: absolute;
}
.toggle-title.active:after {
    color: #58b006;
    content: "\f107";
}
.toggle-content p {
    font-weight: normal;
}
/* ERRORS */
.pb .en__field__error {
    font-weight: bold;
    color: #ff0000;
}